<div class="row mt-5">

    <div class="col-md-4">
        <a asp-controller="Patients" asp-action="Index" class="btn btn-primary w-100 p-3">
            Patients
        </a>
    </div>

    <div class="col-md-4">
        <a asp-controller="Doctors" asp-action="Index" class="btn btn-success w-100 p-3">
            Doctors
        </a>
    </div>

    <div class="col-md-4">
        <a asp-controller="Appointments" asp-action="Index" class="btn btn-warning w-100 p-3">
            Appointments
        </a>
    </div>

</div>
